<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in Facebook</title>
    <link
      rel="icon"
      href="../public/icons/Logo Facebook.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <div class="main">
      <div class="recommend">
        <p class="recommend-title">facebook</p>
        <p class="recommend-slogan">
          Facebook giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của
          bạn.
        </p>
      </div>
      <div class="form">
        <form action="" class="form-login">
          <div class="form-group">
            <input type="text" placeholder="Email" id="email" />
            <span class="form-message"></span>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" id="password" />
            <span class="form-message"></span>
          </div>
          <button class="form-submit">Đăng nhập</button>
          <p class="form-support">
            <a href="">Quên mật khẩu?</a>
          </p>
          <div class="form-footer">
            <button class="form-creat">Tạo tài khoản mới</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
