<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up Facebook</title>
    <link
      rel="icon"
      href="../public/icons/Logo Facebook.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/register.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <p class="header-logo">facebook</p>
        <a href="/Login" class="header-login">Đăng nhập</a>
      </div>
      <div class="content">
        <p class="content-title">Chào mừng đến với Facebook</p>
        <p class="content-slogan">Mạng lưới xã hội lớn nhất thế giới</p>
      </div>
      <div class="form">
        <h2>Tạo tài khoản mới</h2>
        <div class="form-group">
          <input type="text" placeholder="Họ và tên" id="fullname" />
          <span class="form-message"></span>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" id="email" />
          <span class="form-message"></span>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Mật khẩu" id="password" />
          <span class="form-message"></span>
        </div>
        <div class="form-footer">
          <input type="date" id="date" />
          <select name="" id="gender">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </div>
        <button class="btn-register">Đăng kí</button>
      </div>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/register.js"></script>
</html>
