<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Facebook</title>
    <link
      rel="icon"
      href="../public/img/Logo Facebook.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <div class="main">
      <div class="recommend">
        <p class="recommend-title">facebook</p>
        <p class="recommend-slogan">
          Facebook giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của
          bạn.
        </p>
      </div>
      <div class="form">
        <div class="form-login">
          <div class="form-group">
            <input type="email" placeholder="Email" id="email" />
            <span class="form-message"></span>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" id="password" />
            <span class="form-message"></span>
          </div>
          <button class="form-submit" onclick="formSubmit()">Đăng nhập</button>
          <p class="form-support">
            <a href="">Quên mật khẩu?</a>
          </p>
          <div class="form-footer">
            <a href="/Register">
              <button class="form-creat">Tạo tài khoản mới</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/login.js"></script>
</html>
